{% load static %}
<header>
    <nav class="navbar fixed-top" style="background-color: lightskyblue">
        <li class="nav-item" style='list-style-type: none'>
        <div class="container">
            <a class="navbar-brand" href="{% url 'post:main' %}">
                <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                <span style="color:red">Ya</span>tube</a>
            </a>
        </div>
        </li>
                    {% with request.resolver_match.view_name as view_name %}
         <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" href="{% url 'about:author' %}">Об авторе</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}" href="{% url 'about:tech' %}">Технологии</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'post:create' %}active{% endif %}" href="{% url 'post:create' %}">Новая запись</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'password_change' %}active{% endif %}" href="{% url 'password_change' %}">Изменить пароль</a>
        </li>
            {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'logout' %}active{% endif %}" href="{% url 'logout' %}">Выйти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
          Пользователь: {{user.username}}
          </a>
        <li>
             {% else %}
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %}" href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">Войти</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endwith %}
</header>